.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    color: honeydew;
}
.dialogItems .active {
    color: rgb(247, 247, 130); 
}
.dialog {
    padding: 10px;
}
.message {
    padding: 10px;
}